.buttonsContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;


}

.responseContainer {

}

.imageContainer {
}

.image {
}

.textContainer{
}

.code {
}

.text {
}
.info {
}