.radio {
    background: rgb(0, 0, 0);


}


.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    gap: 11px;
    padding-bottom: 21px;
    color: rgb(0, 0, 0);
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;


}

.options {
}
