.App {
    --header_height: 60px;
    width: 100%;
    margin: 0 auto;





}

.hw {
    border-top: 2px solid #D9D9D9;
    border-bottom: 2px solid #D9D9D9;
    padding: 25px 70px 32px;

}

.hwTitle {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    padding-left: 70px;
    padding-top: 131px;
    padding-bottom: 10px;




}