.button{
    width: 132px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px 5px 24px;
    border-radius: 3px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    border: none;
}
.default{
    background: rgb(0, 102, 204);
    color: rgb(255, 255, 255);
}
.red{
    background: #CC1439;
    color: rgb(255, 255, 255);
}
.disabled{
    background: #004D99;
    opacity: 0.5;
    color: rgb(0, 46, 92);
}
.secondary {
    background: white;
    color: rgb(0, 102, 204);
    border: 1px solid rgb(0, 102, 204);
}
.default:hover{
    background: rgb(0, 128, 255);
}
.red:hover{
    background: rgb(255, 26, 71);
}

.secondary:hover{
    background: rgb(229, 240, 250);


}
.disabled:hover{
    background: #004D99;
    opacity: 0.5;
    color: rgb(0, 46, 92);
}


.default:active{
    background: rgb(0, 89, 179);
}
.secondary:active{
    background: rgb(201, 229, 255);
}
.red:active{
    background: rgb(179, 18, 50);


}
.disabled:active{
    background: #004D99;
    opacity: 0.5;
    color: rgb(0, 46, 92);
}
.button:disabled{
    cursor: default;
}




/*.button {*/
/*}*/

/*.disabled {*/
/*}*/

/*.secondary {*/
/*}*/

/*.default {*/
/*}*/

/*.red {*/
/*}*/

/*.default:hover {*/
/*}*/

/*.red:hover {*/
/*}*/

/*.secondary:hover {*/
/*}*/


/*.default:active {*/
/*}*/

/*.secondary:active {*/
/*}*/

/*.red:active {*/
/*}*/

/*.button:disabled {*/
/*}*/
